.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.comp-A{
  color: green;
}
.comp-B{
  color: blue;
}
.comp-c{
  color: yellow;
}
.comp-D{
  color: darkorchid;
}
.comp-E{
  color: chartreuse;
}
.comp-f{
  color: crimson;
}
.comp-g{
  min-height: 300px;
  width: 100%;
  color: darkmagenta;
}
.comp-h{
  color: #61dafb;
}
.call-now {
  width: 40%;
  margin-left: 30%;
  color: red;
  font-family: "Bree serif";
  font-weight: bold;
  font-size: 30px;
}
.comp-i-para{
  color: blue;
  font-family: "Roboto";
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
}
.comp-i-span{
  font-family: "bree serif";
  color: green;
  text-decoration: none;
}
.input-ele{
  border: 1px;
  border-color: goldenrod;
}
.label-style{
  color: darkorange;
  font-size: 30px;
  font-weight: bold;
  font-family: cursive;
  margin-right: 40px;
}
.comp-k-list{
  padding-left: 40px;
  padding: 30px;
  color: #282c34;
  font-family: "bree serif";
  font-size: 40px;
  background-color: aqua;
  border-radius: 30px;
}
.learning-head{
  color: darkred;
  background-color: aquamarine;

}
.order-list{
  padding: 30px;
  padding-left: 50px;
  list-style-type: upper-alpha;
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto";
  color: darkslateblue;
  background-color: aquamarine;
  border-radius: 30px;
}
.comp-n{
  margin-top: 40px;
  background-color: cadetblue;
  padding: 40px;
  border-radius: 20px;
}
.name{
  color: black;
  font-size: 30px;
  font-family: cursive;
  margin-left: 30px;
  margin-right: 40px;
  text-align: center;

}
.Comp-o{
  background-color: burlywood;
  border-radius: 25px;
}
.Select-comp{
  margin: 100px;
  height: 40px;
  width: 100px;
  padding-left:10px ;
  font-size: 25px;
  font-family: cursive;
}
.lables{
  font-size: 40px;
  color: dimgray;
  font-weight: bold;
  font-family: "Roboto";
}
.comp-o{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.comp-q{
  background-color: lightcoral;
  min-height: 200px;
  padding: 30px;
  border-radius: 30px;
}
.intro-para{
  color: black;
  font-size: 20px;
}
.col-style{
  color: Black;
  text-align: center;
  font-size: 25px;
  font-family: cursive;
  border: 1px black solid;
}
.comp-s-head{
  color: darkslateblue;
  font-family: bree-serif;
}
.comp-t{
  margin-top: 30px;
  border-radius: 20px;
}
.text-area-style{
  border-radius: 20px;
  padding: 20px;
  font-size: 23px;
  font-family: cursive;
  color: crimson;
}
.comp-u{
  background-color: bisque;
  padding: 30px;
  font-family: "Roboto";
  border-radius: 20px;
}
.todays-news{
  color: darkred;
}
.news-headlines{
  color: darkblue;
  font-size: 20px;
  font-family: cursive;
}
.details{
  color: forestgreen;
  font-family: Roboto;
}
.news-details{
  color: black;
  font-size: 18px;
  font-family: cursive;
}
.comp-y-quest{
  color: darkmagenta;
}
.comp-z-para{
  color: darkolivegreen;
  font-family: cursive;
  font-size: 18px;
}